html {
    font-family: 'Montserrat', sans-serif;
background:#17181E;
}

/* Sign In. */

.inicio{
    position:absolute;
    width: 234px;
    height:53px;
    left:612px;
    top: 167px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;

    color: white;
}

/* email && password */

.email{
    box-sizing: border-box;
    position:absolute;
    width: 411px;
    height: 61px;
    left: 514px;
    top: 297px;
    border: 4px solid rgba(245, 245, 245, 0.925);
    border-radius: 18px;
    background-color: #17181E;
    
}

.password{
    color: white;
    box-sizing: border-box;
    position:absolute;
    width: 411px;
    height: 61px;
    left: 514px;
    top: 360px;
    border: 4px solid rgba(245, 245, 245, 0.925);
    border-radius: 18px;
    background-color: #17181E;

    
}

.color{
    color:white
}

/* botton the sig in */
.button{
    background-color: white;
    position: absolute;
    width: 411px;
    height:61px;
    left: 514px;
    top:475px;
    border-radius: 18px;
    

}
.button:hover{
    background-color: #17181E;
    color: whitesmoke;
}

/* Register */

.register{
    color: white;
    position: absolute;
    width: 197px;
    height: 28px;
    left: 612px;
    top: 564px;
    font-family: 'Montserrat';
    text-align: center;
    
}