<!DOCTYPE html>
<link rel="stylesheet" href = "static/stylies.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<body>
    <header>
        <div>AGENDA</div>
        <nav>
            <ul>
                
            </ul>
        </nav>
    </header>
<form action="/add_contact" method="POST">
    <input class="nombre"type="text" name="nombre" placeholder="Nombre">
    <input class="direccion" type="text" name="direccion" placeholder="Direccion">
    <input class="telefono" type="text" name="telefono" placeholder="Telefono">
    <input class="local" type="text" name="local" placeholder="local">
    <input class="destino" type="text" name="destino" placeholder="Destino">
    <button class="button_index"type="submit">
        Guardar
    </button>
</form>
</body>