<!DOCTYPE html>
<p class="inicio">Sign in</p>
<link rel="stylesheet" href = "static/stylies.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<form action="">
    <input type="text" name="Email" placeholder="Email">
    <input type="text" name="Password" placeholder="Password">
    <button type="submit">
        inicio de secion 
    </button>
</form>