<!DOCTYPE html>
<p class="inicio">Sign in</p>
<link rel="stylesheet" href = "static/stylies.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<form action="">
    <input class="email" type="text" name="Email" placeholder="Email">
    <input class="password" type="text" name="Password" placeholder="Password">
    <button class="button" type="submit">
        inicio de secion 
    </button>
    <a target="_blank" class="register" href="">Resgister</a>
</form>